
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Slab:ital,wght@0,300;0,400;0,700;1,500&family=Patrick+Hand&family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courgette", cursive;
}

.card {
  max-width: 600px;
  margin: 125px auto;
  background: white;
  box-shadow: 0 0 20px rgba(77, 52, 52, 0.6);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.send {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #bd8600;
  margin-left: 5px;
}

.refresh-btn {
  background: none;
  border: none;
  font-size: 2rem;
}

.form-input {
  height: 2rem;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
}

.form-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  border: 1px solid #bd8600;
}

.form-input input::placeholder {
  color: #bfbfbf;
  text-align: center;
}

.todo-div {
  margin: 20px 25px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.task-ul .task {
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label {
  display: flex;
  justify-content: space-between;
}

.task label input {
  margin-top: 0.5rem;
  margin-right: 20px;
}

.task .settings {
  cursor: pointer;
}

.settings .task-menu {
  position: absolute;
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  padding: 5px 0;
  z-index: 5;
  transform: scale(0);
}

.task:hover .task-menu {
  transform: scale(1);
}

.task .task-menu li {
  height: 2.5rem;
  padding: 1.6rem 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
  justify-content: flex-start;
}

.task-menu li:hover {
  background: #ccc;
}

.clear-completed {
  width: 100%;
  height: 70px;
  font-size: 20px;
}

.message {
  text-align: center;
}

.error {
  color: red;
  font-size: 2rem;
}

[contenteditable] {
  outline: 0 solid transparent;
}
